<section class="content-header">
    <h1>
        User Profile
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>
<section class="content">
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">User Profile</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-4">
                    <img [src]="user.image" class="thumbnail" height="220" width="220">

                    <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#cameraModal" (click)="showWebcam = true">
                        <i class="fa fa-camera"></i> Take Photo
                    </button> &nbsp;

                    <input type="file" class="btn btn-sm" value="Browse Photo" (change)="onSelectFile($event)" />
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <form [formGroup]="userProfileFormGroup" (ngSubmit)="onSubmitUserProfile(userProfileFormGroup)">
                            <div class="form-group">
                                <label for="fullName"> Full Name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="fullName" formControlName="fullName" />

                                <div *ngIf="fullName.errors && (fullName.invalid && fullName.touched)" class="text-danger">
                                    <span *ngIf="fullName.errors?.required">Please enter full name</span>
                                    <span *ngIf="fullName.errors?.pattern">Full name be in characters only</span>
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="email"> Email ID <span class="text-danger">*</span></label>
                                <input type="email" class="form-control" name="email" formControlName="email" />

                                <div *ngIf="email.errors && (email.invalid && email.touched)" class="text-danger">
                                    <span *ngIf="email.errors?.required"> Please enter email</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="mobileNumber"> Mobile Number <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="mobileNumber" formControlName="mobileNumber" />

                                <div *ngIf="mobileNumber.errors && (mobileNumber.invalid && mobileNumber.touched)"
                                    class="text-danger">
                                    <span *ngIf="mobileNumber.errors?.required">Please enter mobile Number</span>
                                    <span *ngIf="mobileNumber.errors?.minlength || mobileNumber.errors?.maxlength">
                                        Mobile Number must be 10 digit</span>
                                    <span *ngIf="mobileNumber.errors?.pattern">Mobile Number must be digit</span>
                                    <!-- <span *ngIf="mobileNumber.errors?.required">Please enter mobile Number</span>
                                    <span *ngIf="mobileNumber.errors?.mobilenumber">{{mobileNumber.errors?.mobilenumber.value}}</span> -->
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="address"> Address</label>
                                <textarea rows="4" cols="5" class="form-control" name="address" formControlName="address"> </textarea>

                                <div *ngIf="address.errors && (address.invalid && address.touched)" class="text-danger">
                                    <span *ngIf="address.errors?.required">Please enter address</span>
                                    <span *ngIf="address.errors?.pattern">Special characters not allowed except ' '
                                        & " " </span>
                                    <!-- <span *ngIf="address.errors?.address">{{address.errors?.address.value}}</span> -->
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="country"> Country <span class="text-danger">*</span></label>
                                <select class="form-control" name="country" formControlName="country">
                                    <option>Select Country</option>
                                    <option *ngFor="let country of countries">{{country.name}} </option>

                                </select>

                                <div *ngIf="country.errors && (country.invalid && country.touched)" class="text-danger">
                                    <span *ngIf="country.errors?.required">Please enter country</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="state"> State <span class="text-danger">*</span></label>
                                <select class="form-control" name="state" formControlName="state">
                                    <option>Select State</option>
                                </select>

                                <div *ngIf="state.errors && (state.invalid && state.touched)" class="text-danger">
                                    <span *ngIf="state.errors?.required">Please enter state</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="city"> City <span class="text-danger">*</span></label>
                                <select class="form-control" name="city" formControlName="city">
                                    <option>Select City</option>
                                </select>

                                <div *ngIf="city.errors && (city.invalid && city.touched)" class="text-danger">
                                    <span *ngIf="city.errors?.required">Please enter city</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-sm btn-primary" type="submit"> Update </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="cameraModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="showWebcam = false">&times;</button>
                <h4 class="modal-title">Capture Image From Camera</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <webcam [width]="600" [height]="400" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
                            *ngIf="showWebcam" [videoOptions]="videoOptions" (initError)="handleInitError($event)"></webcam>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="triggerSnapshot();" data-dismiss="modal"
                    data-toggle="modal" data-target="#confirmModal">Capture Image</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="showWebcam = false">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="confirmModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Do you wants to use captured Image as profile pick</h4>
            </div>
            <div class="moda-body">
                <img [src]="webcamImage.imageAsDataUrl" width="600" height="400" *ngIf="webcamImage" />

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" (click)="user.image = webcamImage.imageAsDataUrl;showWebcam=false">Yes</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="showWebcam=false">No</button>
            </div>
        </div>
    </div>
</div>