<section class="content-header">
    <h1>
        Dashboard
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>
<section class="content">
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Employee List</h3>
            <!-- <button (click)="getSelectedRows()">Get Selected Rows</button> -->
        </div>
        <div class="box-body">
            <!-- [pagination]="true" [paginationPageSize]="10" -->
            <ag-grid-angular #agGrid style="width: auto; height: 450px;" class="ag-theme-balham" (gridReady)="onGridReady($event)"
                [gridOptions]="gridOptions" [context]="context" [columnDefs]="columnDefs" [rowData]="rowData | async"
                [enableColResize]="true" [enableSorting]="true" [enableFilter]="true" rowSelection="multiple"
                (cellClicked)="onCellClicked($event)" (cellDoubleClicked)="onCellDoubleClicked($event)">
            </ag-grid-angular>
        </div>
    </div>
</section>