<div>
    <div class="login-box">
        <div class="login-logo">
            <a routerLink="/login"><b>Admin</b>LTE</a>
        </div>
        <form [formGroup]="forgotPasswordGroup">
            <div class="login-box-body">
                <p class="login-box-msg">Recover your password</p>
                <div class="form-group has-feedback">
                    <input type="email" class="form-control" placeholder="Email" formControlName="email" required>
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>

                    <div *ngIf="email.errors && (email.invalid && email.touched)" class="text-danger">
                            <span *ngIf="email.errors?.required">Please enter emailID</span>
                            <span *ngIf="email.errors?.email">Please enter valid emailID</span>
                            <span *ngIf="email.errors?.pattern">Please enter valid emailID</span>
                        </div>
                </div>
                <div class="form-group has-feedback">
                    <button class="btn btn-primary btn-block btn-flat" (click)="onRecoverPasswordClicked(forgotPasswordGroup)">Recover
                        Password
                    </button>
                </div>
                <div class="form-group has-feedback">
                    <a routerLink="/login" class="text-center">Already having account</a>
                </div>
            </div>
        </form>
    </div>
</div>