<section class="content">
    <div class="box box-success">
        <form [formGroup]="updatePasswordFormGroup">
            <div class="box-header with-border">
                <h3 class="box-title">Update Password</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="form-group has-feedback">
                            <input type="text" class="form-control" placeholder="Full Name" name="fullName"
                                formControlName="fullName" required>
                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>

                            <div *ngIf="fullName.errors && (fullName.invalid && fullName.touched)" class="text-danger">
                                Please enter full name
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="password" class="form-control" placeholder="Password" name="password"
                                formControlName="password" required>

                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                            <div *ngIf="password.errors && (password.invalid && password.touched)" class="text-danger">
                                Please enter password
                            </div>
                        </div>

                        <div class="form-group has-feedback">
                            <input type="password" class="form-control" placeholder="New Password" name="newPassword"
                                formControlName="newPassword" required>

                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                            <div *ngIf="newPassword.errors && (newPassword.invalid && newPassword.touched)"
                                class="text-danger">
                                <span *ngIf="newPassword.errors?.required">Please enter new password</span>                                
                            </div>
                        </div>

                        <div class="form-group has-feedback">
                            <input type="password" class="form-control" placeholder="Confirm Password" name="confirmPassword"
                                formControlName="confirmPassword" required>

                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                            <div *ngIf="confirmPassword.errors && (confirmPassword.invalid && confirmPassword.touched)"
                                class="text-danger">
                                <span *ngIf="confirmPassword.errors?.required">Please enter confirm password</span>
                                <span *ngIf="confirmPassword.errors?.mismatch">Mismatch confirm password & password</span>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <button class="btn btn-primary btn-block btn-flat" (click)="onUpdatePasswordClicked(updatePasswordFormGroup)">
                                Update
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>